* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  display: flex;
  height: auto;
  justify-content: center;
  color: #303846;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
.formContainer {
  margin-top: 30px;
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 1px solid white;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  /* background-color: #f2f2f2; */
}
.formContainer,
.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.logo {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
label {
  text-align: left;
  padding: 0.25rem 0;
  font-weight: bold;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  /* border: none; */
  border-radius: 10px;
  border: 2px solid #f2f2f2;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  background-color: #0081ee;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.addProductContainer {
  width: 80%;
  margin-left: 300px;
  margin-bottom: 20px;
}

.linkBtn {
  background: none;
  color: #303846;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}
.showPasswordContainer {
  margin-left: -85px;
  width: 100%;
}
#showPassword {
  margin-right: 10px;
}
.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: auto;
}
.headerContainer {
  grid-column: 1/3;
  grid-row: 1/2;
}
.product-summary {
  grid-column: 1/3;
  grid-row: 2/3;
}
.product-list {
  grid-column: 1/3;
  grid-row: 3/4;
}
.logo {
  width: 70%;
}
.formContainer {
  padding: 5rem;
  padding-top: 3rem;
  margin-left: 400px;
  /* margin: 0.5rem; */
  margin-top: 0.5rem;
  width: 400px;
}

.showPasswordContainer {
  margin-left: -120px;
  width: 100%;
}
.accountRouterContainer {
  /* background-color: pink; */
  height: 100vh;
  width: 1000px;
  margin-left: 50px;
}
.accountContainer {
  background-color: #fff;
  width: 70%;
  padding: 20px;
  height: 240px;
  margin-left: 200px;
  border-radius: 20px;
  color: #000;
}
